In [1]:
import pandas as pd
import numpy as np

In [2]:
dir = 'C:/_dados/_avito/'
pd.options.display.max_rows = 99
train = pd.read_csv(dir + 'train.csv').fillna(0)
test = pd.read_csv(dir + 'test.csv').fillna(0)

In [3]:
train.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1,deal_probability
0,b912c3c6a6ad,e00f8ff2eaf9,Свердловская область,Екатеринбург,Личные вещи,Товары для детей и игрушки,Постельные принадлежности,0,0,Кокоби(кокон для сна),"Кокон для сна малыша,пользовались меньше месяц...",400.0,2,2017-03-28,Private,d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,0.12789
1,2dac0150717d,39aeb48f0017,Самарская область,Самара,Для дома и дачи,Мебель и интерьер,Другое,0,0,Стойка для Одежды,"Стойка для одежды, под вешалки. С бутика.",3000.0,19,2017-03-26,Private,79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,0.00000
2,ba83aefab5dc,91e2f88dd6e3,Ростовская область,Ростов-на-Дону,Бытовая электроника,Аудио и видео,"Видео, DVD и Blu-ray плееры",0,0,Philips bluray,"В хорошем состоянии, домашний кинотеатр с blu ...",4000.0,9,2017-03-20,Private,b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,0.43177
3,02996f1dd2ea,bf5cccea572d,Татарстан,Набережные Челны,Личные вещи,Товары для детей и игрушки,Автомобильные кресла,0,0,Автокресло,Продам кресло от0-25кг,2200.0,286,2017-03-25,Company,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,0.80323
4,7c90be56d2ab,ef50846afc0b,Волгоградская область,Волгоград,Транспорт,Автомобили,С пробегом,ВАЗ (LADA),2110,"ВАЗ 2110, 2003",Все вопросы по телефону.,40000.0,3,2017-03-16,Private,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,0.20797

In [4]:
test.head()

,item_id,user_id,region,city,parent_category_name,category_name,param_1,param_2,param_3,title,description,price,item_seq_number,activation_date,user_type,image,image_top_1
0,6544e41a8817,dbe73ad6e4b5,Волгоградская область,Волгоград,Личные вещи,Детская одежда и обувь,Для мальчиков,Обувь,25,Отдам бесплатно,На ангарском,0.0,66,2017-04-18,Private,a8b57acb5ab304f9c331ac7a074219aed4d349d8aef386...,2020.0
1,65b9484d670f,2e11806abe57,Свердловская область,Нижняя Тура,Хобби и отдых,Велосипеды,Дорожные,0,0,Продам велосипед,"Продам велосипед KAMA F200,в нормальном состо...",3000.0,4,2017-04-16,Private,0,0.0
2,8bab230b2ecd,0b850bbebb10,Новосибирская область,Бердск,Бытовая электроника,Аудио и видео,Телевизоры и проекторы,0,0,BBK,Продам новый телевизор BBK 32 диагональ смарт...,15000.0,15,2017-04-17,Private,8c361112cb049745ef2d1b0ae73594fc5c107286b0c942...,2960.0
3,8e348601fefc,5f1d5c3ce0da,Саратовская область,Саратов,Для дома и дачи,Бытовая техника,Для кухни,Вытяжки,0,Вытяжка Jetair 60,"Продам новую вытяжку в упаковке,с документами....",4500.0,70,2017-04-17,Private,0,0.0
4,8bd2fe400b89,23e2d97bfc7f,Оренбургская область,Бузулук,Личные вещи,Товары для детей и игрушки,Детские коляски,0,0,Коляска зима-лето,Продам отличную коляску. б/у 1 год. все вопрос...,4900.0,15,2017-04-15,Private,bc3cf6deef10840fc302e38eb48fa7748aa1e28d534f8f...,1002.0

In [5]:
train['source'] = 'train'
test['source'] = 'test'
df = train.append(test, ignore_index=True)
display(df.head())
display(df.shape)

,activation_date,category_name,city,deal_probability,description,image,image_top_1,item_id,item_seq_number,param_1,param_2,param_3,parent_category_name,price,region,source,title,user_id,user_type
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,"Кокон для сна малыша,пользовались меньше месяц...",d10c7e016e03247a3bf2d13348fe959fe6f436c1caf64c...,1008.0,b912c3c6a6ad,2,Постельные принадлежности,0,0,Личные вещи,400.0,Свердловская область,train,Кокоби(кокон для сна),e00f8ff2eaf9,Private
1,2017-03-26,Мебель и интерьер,Самара,0.00000,"Стойка для одежды, под вешалки. С бутика.",79c9392cc51a9c81c6eb91eceb8e552171db39d7142700...,692.0,2dac0150717d,19,Другое,0,0,Для дома и дачи,3000.0,Самарская область,train,Стойка для Одежды,39aeb48f0017,Private
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,"В хорошем состоянии, домашний кинотеатр с blu ...",b7f250ee3f39e1fedd77c141f273703f4a9be59db4b48a...,3032.0,ba83aefab5dc,9,"Видео, DVD и Blu-ray плееры",0,0,Бытовая электроника,4000.0,Ростовская область,train,Philips bluray,91e2f88dd6e3,Private
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,Продам кресло от0-25кг,e6ef97e0725637ea84e3d203e82dadb43ed3cc0a1c8413...,796.0,02996f1dd2ea,286,Автомобильные кресла,0,0,Личные вещи,2200.0,Татарстан,train,Автокресло,bf5cccea572d,Company
4,2017-03-16,Автомобили,Волгоград,0.20797,Все вопросы по телефону.,54a687a3a0fc1d68aed99bdaaf551c5c70b761b16fd0a2...,2264.0,7c90be56d2ab,3,С пробегом,ВАЗ (LADA),2110,Транспорт,40000.0,Волгоградская область,train,"ВАЗ 2110, 2003",ef50846afc0b,Private

(2011862, 19)

In [6]:
del train
del test

In [7]:
colunas = []
remover_col = []

df['user_cat'] = df['user_type'] + df['parent_category_name']

for i,col in enumerate(df.columns):
    tam = len(df[col].unique())
    print(i, col, tam)
    if(2<tam<4000): 
        colunas.append(col)
    else:
        remover_col.append(col)
display(colunas)
display(remover_col)

0 activation_date 30
1 category_name 47
2 city 1752
3 deal_probability 18408
4 description 1793973
5 image 1856666
6 image_top_1 3063
7 item_id 2011862
8 item_seq_number 33947
9 param_1 372
10 param_2 278
11 param_3 1277
12 parent_category_name 9
13 price 20760
14 region 28
15 source 2
16 title 1022203
17 user_id 1009909
18 user_type 3
19 user_cat 27

['activation_date',
 'category_name',
 'city',
 'image_top_1',
 'param_1',
 'param_2',
 'param_3',
 'parent_category_name',
 'region',
 'user_type',
 'user_cat']

['deal_probability',
 'description',
 'image',
 'item_id',
 'item_seq_number',
 'price',
 'source',
 'title',
 'user_id']

In [8]:
colunas.remove('activation_date')
colunas.remove('city')
colunas.remove('param_3')
colunas.remove('param_2')

remover_col.remove('deal_probability')
remover_col.remove('source')
remover_col.remove('item_id')

print(colunas)
print(remover_col)

['category_name', 'image_top_1', 'param_1', 'parent_category_name', 'region', 'user_type', 'user_cat']
['description', 'image', 'item_seq_number', 'price', 'title', 'user_id']

In [9]:
chute1 = pd.DataFrame(df[df['source'] == 'train'].groupby(['category_name', 'user_type'])['deal_probability'].mean())
chute1.reset_index(inplace=True)
chute1.head()

  category_name user_type  deal_probability
0    Автомобили   Company          0.283270
1    Автомобили   Private          0.290851
2    Автомобили      Shop          0.146216
3      Аквариум   Company          0.123666
4      Аквариум   Private          0.219580

In [10]:
chute1.rename({'deal_probability':'deal_chute1'}, axis='columns', inplace=True)
chute1.head()

  category_name user_type  deal_chute1
0    Автомобили   Company     0.283270
1    Автомобили   Private     0.290851
2    Автомобили      Shop     0.146216
3      Аквариум   Company     0.123666
4      Аквариум   Private     0.219580

In [11]:
df2 = pd.merge(df, chute1, on=['category_name', 'user_type'], how='left')
df2.drop(remover_col, axis=1, inplace=True)
df2.head()

,activation_date,category_name,city,deal_probability,image_top_1,item_id,param_1,param_2,param_3,parent_category_name,region,source,user_type,user_cat,deal_chute1
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,1008.0,b912c3c6a6ad,Постельные принадлежности,0,0,Личные вещи,Свердловская область,train,Private,PrivateЛичные вещи,0.213811
1,2017-03-26,Мебель и интерьер,Самара,0.00000,692.0,2dac0150717d,Другое,0,0,Для дома и дачи,Самарская область,train,Private,PrivateДля дома и дачи,0.219044
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,3032.0,ba83aefab5dc,"Видео, DVD и Blu-ray плееры",0,0,Бытовая электроника,Ростовская область,train,Private,PrivateБытовая электроника,0.185409
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,796.0,02996f1dd2ea,Автомобильные кресла,0,0,Личные вещи,Татарстан,train,Company,CompanyЛичные вещи,0.162801
4,2017-03-16,Автомобили,Волгоград,0.20797,2264.0,7c90be56d2ab,С пробегом,ВАЗ (LADA),2110,Транспорт,Волгоградская область,train,Private,PrivateТранспорт,0.290851

In [12]:
co = ['activation_date','city','param_2','param_3']
df2.drop(co, axis=1, inplace=True)
df2.head()

,category_name,deal_probability,image_top_1,item_id,param_1,parent_category_name,region,source,user_type,user_cat,deal_chute1
0,Товары для детей и игрушки,0.12789,1008.0,b912c3c6a6ad,Постельные принадлежности,Личные вещи,Свердловская область,train,Private,PrivateЛичные вещи,0.213811
1,Мебель и интерьер,0.00000,692.0,2dac0150717d,Другое,Для дома и дачи,Самарская область,train,Private,PrivateДля дома и дачи,0.219044
2,Аудио и видео,0.43177,3032.0,ba83aefab5dc,"Видео, DVD и Blu-ray плееры",Бытовая электроника,Ростовская область,train,Private,PrivateБытовая электроника,0.185409
3,Товары для детей и игрушки,0.80323,796.0,02996f1dd2ea,Автомобильные кресла,Личные вещи,Татарстан,train,Company,CompanyЛичные вещи,0.162801
4,Автомобили,0.20797,2264.0,7c90be56d2ab,С пробегом,Транспорт,Волгоградская область,train,Private,PrivateТранспорт,0.290851

In [13]:
for i,col in enumerate(colunas):
    for j,group in enumerate(df2[col].unique()):
        if (j > 0) and (df2[df2[col] == group]['item_id'].count() > 5000):
            df2[str('col') + '_' + str(i) + '_' + str(j)] = (df2[col] == group) * 1
df2.head()

,category_name,deal_probability,image_top_1,item_id,param_1,parent_category_name,region,source,user_type,user_cat,...,col_6_13,col_6_14,col_6_15,col_6_16,col_6_17,col_6_18,col_6_19,col_6_21,col_6_22,col_6_24
0,Товары для детей и игрушки,0.12789,1008.0,b912c3c6a6ad,Постельные принадлежности,Личные вещи,Свердловская область,train,Private,PrivateЛичные вещи,...,0,0,0,0,0,0,0,0,0,0
1,Мебель и интерьер,0.00000,692.0,2dac0150717d,Другое,Для дома и дачи,Самарская область,train,Private,PrivateДля дома и дачи,...,0,0,0,0,0,0,0,0,0,0
2,Аудио и видео,0.43177,3032.0,ba83aefab5dc,"Видео, DVD и Blu-ray плееры",Бытовая электроника,Ростовская область,train,Private,PrivateБытовая электроника,...,0,0,0,0,0,0,0,0,0,0
3,Товары для детей и игрушки,0.80323,796.0,02996f1dd2ea,Автомобильные кресла,Личные вещи,Татарстан,train,Company,CompanyЛичные вещи,...,0,0,0,0,0,0,0,0,0,0
4,Автомобили,0.20797,2264.0,7c90be56d2ab,С пробегом,Транспорт,Волгоградская область,train,Private,PrivateТранспорт,...,0,0,0,0,0,0,0,0,0,0

In [14]:
df2.drop(colunas, axis=1, inplace=True)
df2.head()

,deal_probability,item_id,source,deal_chute1,col_0_1,col_0_2,col_0_3,col_0_4,col_0_5,col_0_6,...,col_6_13,col_6_14,col_6_15,col_6_16,col_6_17,col_6_18,col_6_19,col_6_21,col_6_22,col_6_24
0,0.12789,b912c3c6a6ad,train,0.213811,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.00000,2dac0150717d,train,0.219044,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.43177,ba83aefab5dc,train,0.185409,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.80323,02996f1dd2ea,train,0.162801,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.20797,7c90be56d2ab,train,0.290851,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
del df

In [16]:
from sklearn.linear_model import LogisticRegression

In [29]:
X_train = df2[(df2['source'] == 'train')]
X_test  = df2[(df2['source'] == 'test')]

In [30]:
from sklearn.linear_model import LinearRegression
model =  LinearRegression()

predictors = X_train.iloc[:,3:].values * 1
target     = X_train['deal_probability'].values
test       = X_test.iloc[:,3:].values * 1
label      = X_test['item_id'].values

model.fit(predictors, target)
y_pred = model.predict(test)
print(y_pred[:20])

[ 0.06022605  0.26545809  0.25753878  0.33685396  0.31616051  0.15081881
  0.08534334 -0.06431486  0.10864352  0.08939731  0.34274386  0.06927584
  0.42704867  0.07202345  0.18113802  0.28103731  0.04261873  0.08550941
  0.05796243  0.51893709]

In [31]:
with open(dir + 'submissions/basicao_003.csv', 'w') as f:
    f.write('item_id,deal_probability\n')
    for label_, predict_ in zip(label, y_pred):
        p = str(min(1,max(0,float(predict_))))
        f.write(str(label_) + ',' + p + '\n')
        
#### SCORE 0.2415

In [32]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(max_depth=2, random_state=0)
predictors = X_train.iloc[:,3:].values * 1
target     = X_train['deal_probability'].values
test       = X_test.iloc[:,3:].values * 1
label      = X_test['item_id'].values

model.fit(predictors, target)
y_pred = model.predict(test)
print(y_pred[:20])

[0.05492664 0.33824356 0.20362825 0.33824356 0.20362825 0.20362825
 0.05492664 0.05492664 0.12664616 0.05492664 0.33824356 0.12664616
 0.33824356 0.05492664 0.20362825 0.24301769 0.05492664 0.05492664
 0.05492664 0.33824356]

In [33]:
with open(dir + 'submissions/basicao_004.csv', 'w') as f:
    f.write('item_id,deal_probability\n')
    for label_, predict_ in zip(label, y_pred):
        p = str(min(1,max(0,float(predict_))))
        f.write(str(label_) + ',' + p + '\n')
        
#### SCORE 0.2415

In [18]:
X_train['deal_probability'] = (X_train.deal_probability > np.random.uniform(0,1,X_train.shape[0])) * 1

C:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [19]:
X_train.head()

,deal_probability,item_id,source,deal_chute1,col_0_1,col_0_2,col_0_3,col_0_4,col_0_5,col_0_6,...,col_6_13,col_6_14,col_6_15,col_6_16,col_6_17,col_6_18,col_6_19,col_6_21,col_6_22,col_6_24
0,0,b912c3c6a6ad,train,0.213811,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,2dac0150717d,train,0.219044,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,ba83aefab5dc,train,0.185409,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,02996f1dd2ea,train,0.162801,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,7c90be56d2ab,train,0.290851,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
X_test.head()

,deal_probability,item_id,source,deal_chute1,col_0_1,col_0_2,col_0_3,col_0_4,col_0_5,col_0_6,...,col_6_13,col_6_14,col_6_15,col_6_16,col_6_17,col_6_18,col_6_19,col_6_21,col_6_22,col_6_24
1503424,NaN,6544e41a8817,test,0.062135,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1503425,NaN,65b9484d670f,test,0.333429,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1503426,NaN,8bab230b2ecd,test,0.185409,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1503427,NaN,8e348601fefc,test,0.299504,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1503428,NaN,8bd2fe400b89,test,0.213811,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
model =  LogisticRegression(C=0.2, random_state=0)

predictors = X_train.iloc[:,3:].values * 1
target     = X_train['deal_probability'].values
test       = X_test.iloc[:,3:].values * 1
label      = X_test['item_id'].values

model.fit(predictors, target)
y_pred = model.predict_proba(test)[:,1]

In [24]:
with open(dir + 'submissions/basicao_001.csv', 'w') as f:
    f.write('item_id,deal_probability\n')
    for label_, predict_ in zip(label, y_pred):
        p = str(min(1,max(0,float(predict_))))
        f.write(str(label_) + ',' + p + '\n')
        
#### SCORE 0.2411

In [25]:
with open(dir + 'submissions/basicao_002.csv', 'w') as f:
    f.write('item_id,deal_probability\n')
    for label_, predict_ in zip(label, X_test['deal_chute1'].values):
        p = str(min(1,max(0,float(predict_))))
        f.write(str(label_) + ',' + p + '\n')
        
#### SCORE 0.2466