In [1]:
import pandas as pd
import numpy as np

In [16]:
dir = 'c:/_dados/_avito/'

In [22]:
def submit(df,name):
    df = df[df['source'] == 'test'][['item_id', 'deal_est']]
    df = df.rename({'deal_est': 'deal_probability'}, axis='columns')
    df['deal_probability'] = df['deal_probability'].clip(0,1)
    display(df.head())
    display(df.shape)
    df.to_csv(dir + 'submissions/' + str(name) + '.csv', index=False )

In [17]:
df = pd.read_pickle(dir + 'df2.pickle')
df.head()

,activation_date,category_name,city,deal_probability,description,item_id,month,param_1,param_2,param_3,...,user_id,user_type,mean,std,price_normal,time_diff,per_count,date_from,date_to,time_diff2
0,2017-03-28,Товары для детей и игрушки,Екатеринбург,0.12789,"Кокон для сна малыша,пользовались меньше месяц...",b912c3c6a6ad,3,Постельные принадлежности,NaN,NaN,...,e00f8ff2eaf9,Private,4129.398175,1.353662e+05,-0.013774,NaN,NaN,NaT,NaT,NaN
1,2017-03-26,Мебель и интерьер,Самара,0.00000,"Стойка для одежды, под вешалки. С бутика.",2dac0150717d,3,Другое,NaN,NaN,...,39aeb48f0017,Private,32201.494859,3.555820e+06,-0.004106,NaN,NaN,NaT,NaT,NaN
2,2017-03-20,Аудио и видео,Ростов-на-Дону,0.43177,"В хорошем состоянии, домашний кинотеатр с blu ...",ba83aefab5dc,3,"Видео, DVD и Blu-ray плееры",NaN,NaN,...,91e2f88dd6e3,Private,7518.729245,1.979137e+05,-0.008889,NaN,NaN,NaT,NaT,NaN
3,2017-03-25,Товары для детей и игрушки,Набережные Челны,0.80323,Продам кресло от0-25кг,02996f1dd2ea,3,Автомобильные кресла,NaN,NaN,...,bf5cccea572d,Company,4129.398175,1.353662e+05,-0.007126,NaN,NaN,NaT,NaT,NaN
4,2017-03-16,Автомобили,Волгоград,0.20797,Все вопросы по телефону.,7c90be56d2ab,3,С пробегом,ВАЗ (LADA),2110,...,ef50846afc0b,Private,377983.566760,5.233088e+05,-0.312153,NaN,NaN,NaT,NaT,NaN

In [23]:
df['deal_est'] = 0.2
submit(df,'teste')

              item_id  deal_probability
1503424  6544e41a8817               0.2
1503425  65b9484d670f               0.2
1503426  8bab230b2ecd               0.2
1503427  8e348601fefc               0.2
1503428  8bd2fe400b89               0.2

(508438, 2)